@model EduOnline.Models.DetailsCourseToCartViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model?.Name</h1>

<div class="row">
    <div class="col-md-6">
        <div id="ImagesCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    var first = true;
                }
                @foreach (var item in @Model?.CourseImages)
                {
                    <div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))">
                        <img class="d-block w-100" src="@item.ImageFullPath" alt="@item.Id">
                    </div>
                    first = false;
                }
            </div>
            @if (Model.CourseImages.Count > 1)
            {
                <a id="ImagesCarouselPrev" class="carousel-control-prev" href="#ImagesCarousel" role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only btn btn-secondary">Anterior</span>
                </a>
                <a id="ImagesCarouselNext" class="carousel-control-next" href="#ImagesCarousel" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only btn-primary btn">Siguiente</span>
                </a>
            }
        </div>
    </div>
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Requirements)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Requirements)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Language)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Language)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Categories)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Categories)
            </dd>
            <div class="col-md-12">
                <form asp-action="DetailsCourse">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />                    
                    <input type="hidden" asp-for="Quantity" />                    
                    
                    <div class="form-group mt-2">
                        <input type="submit" value="Agregar al Carro" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
                        <a asp-action="ShowCartAndConfirm" class="btn btn-outline-primary">Ver Carro de Compras</a>
                    </div>
                </form>
            </div>
        </dl>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ImagesCarousel").carousel();
            $("#ImagesCarouselPrev").click(function () {
                $("#ImagesCarousel").carousel("prev");
            });
            $("#ImagesCarouselNext").click(function () {
                $("#ImagesCarousel").carousel("next");
            });
        });
    </script>
}
