@model EduOnline.Models.HomeViewModel

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
{
    <div class="text-center">
        <h1 class="display-4"> Bienvenido @ViewBag.UserFullName a Educación en Línea</h1>
    </div>
}
else
{
    @*@if (Model.Quantity >= 0)
    {
        <a asp-action="ShowCartAndConfirm" class="btn btn-outline-primary">Ver Carro de Compras (@Model.Quantity)</a>
    }*@
    <div style="text-align: center;">
        <h3>Cursos</h3>
    </div>

    @foreach (var group in Model.Courses.Select((item, index) => new { Item = item, Index = index })
                         .GroupBy(x => x.Index / 4))
    {
        <div class="row" style="text-align: center;">
            @foreach (var item in group.Select(g => g.Item))
            {
                <div class="col-md-3">
                    <div class="card">                        
                        <div class="card_body zoom">
                            <img src="@item.ImageFullPath" style="height:150px; max-width:280px;" />
                            <p class="mt-2">
                                <div class="card_title">@item.Name</div>
                                @item.Duration
                                @item.Language
                                <h4>@Html.DisplayFor(modelItem => item.Price)</h4>
                            </p>
                        </div>                        
                        <div class="card_foot">
                            <a asp-action="DetailsCourse" asp-route-courseId="@item.Id" class="btn btn-secondary">Detalles</a>
                            <a asp-action="AddCourseInKart" asp-route-courseId="@item.Id" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>                
            }
        </div>
    }
}
